<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="grupopetroil" version="2.0.6">
  <name>Grupo Petroil</name>
  <description>Aplicación informativa Grupo Petroil.</description>
  <author href="http://mindtec.com.mx/" email="contacto@mindtec.com.mx">Mindtec Software Revolution</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  
  <plugin name="org.apache.cordova.inappbrowser" spec="1.7.1" />
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
  </feature>

  <feature name="http://api.phonegap.com/1.0/network" />
  <access origin="*" onlyInBrowser="true" />
  
  <icon src="img/icon.png" />
  <icon src="img/icon-50.png"            gap:platform="ios"        width="50" height="50" /> 
  <icon src="img/icon-57.png"            gap:platform="ios"        width="57" height="57" />  
  <icon src="img/icon-60.png"            gap:platform="ios"        width="60" height="60" />  
  <icon src="img/icon-72.png"            gap:platform="ios"        width="72" height="72" />
  <icon src="img/icon-76.png"            gap:platform="ios"        width="76" height="76" />
  <icon src="img/icon-50-2x.png"         gap:platform="ios"        width="100" height="100" />
  <icon src="img/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
  <icon src="img/icon-60-2x.png"         gap:platform="ios"        width="120" height="120" />
  <icon src="img/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
  <icon src="img/icon-76-2x.png"         gap:platform="ios"        width="152" height="152" />
  <icon src="img/icon-512.png"         gap:platform="ios"        width="512" height="512" />
  <icon src="img/icon-512-2x.png"         gap:platform="ios"        width="1024" height="1024" />
  
  <access origin="*"/>
  <access origin="http://108.163.164.122:9000/redpetroilmp3" />
  <access origin="https://maps.googleapis.com" />
  <access origin="tel:*" launch-external="yes" />
  <access origin="tel:*" launch-external="true"/>
  <allow-navigation href="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
